<div class="row post">
  <div class="col-md-6 text-left">
    <%= post.user.full_name %>
    <%= time_ago_in_words(post.created_at) %>
  </div>
  <div class="col-md-6 text-right status">
    Opened
  </div>
</div>